#sidebar {
  border-right: 1px solid aliceblue;
}

#sidebar-title {
  margin-left: 10px;
  margin-top: 10px;
}

#sidebar ul {
  list-style-type: none;
  text-decoration: none;
}

.subcategories {
  text-decoration: none;
}

li .category-btn {
  height: 30px;
  width: 100px;
  margin: 5px 0;
  padding: 0;
  text-align: left;
}

.subcategory-list {
  text-decoration: none;
}

li .list-group-item {
  background-color: aliceblue;
  border: none;
  border-bottom: 1px solid grey;
  height: 30px;
  width: 150px;
}
