#signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#login-form {
  height: 80vh;
}

#form-title {
  text-align: center;
}

input,
label,
select {
  width: 400px;
  display: block;
}

button {
  width: 400px;
}

#id_description {
  height: 50px;
  width: 400px;
}
