{% extends "webapp/base.html" %} {% load static %} {% block link %}
<link rel="stylesheet" href="{% static 'webapp/css/signup.css'%}" />
<script type="module" src="{% static 'webapp/js/location.js'%}"></script>
{% endblock %} {% block main %}
<main>
  <div class="container-fluid p-0 d-flex justify-content-center">
    <form
      class="border p-5"
      action=""
      method="post"
      enctype="multipart/form-data"
    >
      {% csrf_token%}
      <h3>Report Found Item</h3>
      {{form.as_p}} {{id_form.as_p}} {{image_form.as_p}}
      <button class="btn btn-primary mt-2">Submit</button>
    </form>
  </div>
</main>
{% endblock %}
