<input
  type="hidden"
  name="form-TOTAL_FORMS"
  value="3"
  id="id_form-TOTAL_FORMS"
/><input
  type="hidden"
  name="form-INITIAL_FORMS"
  value="0"
  id="id_form-INITIAL_FORMS"
/><input
  type="hidden"
  name="form-MIN_NUM_FORMS"
  value="0"
  id="id_form-MIN_NUM_FORMS"
/><input
  type="hidden"
  name="form-MAX_NUM_FORMS"
  value="1000"
  id="id_form-MAX_NUM_FORMS"
/>
<tr>
  <th><label for="id_form-0-number_type">Number type:</label></th>
  <td>
    <select name="form-0-number_type" id="id_form-0-number_type">
      <option value="" selected>---------</option>

      <option value="SN">Serial Number</option>

      <option value="IMEI">IMEI</option>

      <option value="IMEI">IMEI</option>
    </select>
  </td>
</tr>

<tr>
  <th></th>
  <td>
    <input
      type="text"
      name="form-0-number_value"
      placeholder="Number"
      id="id_form-0-number_value"
    />
  </td>
</tr>
<tr>
  <th><label for="id_form-1-number_type">Number type:</label></th>
  <td>
    <select name="form-1-number_type" id="id_form-1-number_type">
      <option value="" selected>---------</option>

      <option value="SN">Serial Number</option>

      <option value="IMEI">IMEI</option>

      <option value="IMEI">IMEI</option>
    </select>
  </td>
</tr>

<tr>
  <th></th>
  <td>
    <input
      type="text"
      name="form-1-number_value"
      placeholder="Number"
      id="id_form-1-number_value"
    />
  </td>
</tr>
<tr>
  <th><label for="id_form-2-number_type">Number type:</label></th>
  <td>
    <select name="form-2-number_type" id="id_form-2-number_type">
      <option value="" selected>---------</option>

      <option value="SN">Serial Number</option>

      <option value="IMEI">IMEI</option>

      <option value="IMEI">IMEI</option>
    </select>
  </td>
</tr>

<tr>
  <th></th>
  <td>
    <input
      type="text"
      name="form-2-number_value"
      placeholder="Number"
      id="id_form-2-number_value"
    />
  </td>
</tr>
