{% extends "webapp/base.html" %} {% load static %} {% block link %}
<link rel="stylesheet" href="{% static 'webapp/css/home.css'%}" />
<script src="{% static 'webapp/js/main.js'%}"></script>
{% endblock %} {% block header%}
<header>
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img
          src="{% static 'webapp/assets/logo3.jpeg' %}"
          alt="Logo"
          width="30"
          height="30"
          class="d-inline-block align-text-top"
        />
        UMURINZI
      </a>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="{% url 'user_home' %}"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="{% url 'user_home' %}"
            >Manage Item</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="{% url 'user_home' %}"
            >Validate Item</a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            >REGISTER</a
          >
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="{% url 'register_new_item'%}"
                >NEW ITEM</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'register_found_item' %}"
                >FOUND ITEM</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            >{{request.user.first_name}}</a
          >
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="#">Settings</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
{% endblock%} {% block sidebar %}
<div id="sidebar" class="sidebar">
  <h3>Categories</h3>
  <ul class="category-list"></ul>
</div>
{% endblock %} {% block content %}
<div id="content" class="content"></div>
{% endblock %}
